<%= erb :sidebar %>

<div class="main" id="collapse">
	<% if @user == @comment['user_id'] %>
	<div class="topicname">
		<div class="proflink">
			<img class="userpic" src="<%= @username['image'] %>">
			<a href="/profiles/<%= @comment['user_id'] %>"><%= @username['name'] %></a>
		</div>
		<div class="comment">
			<form action="/editcomment" method="POST">
			<br>
			<input type="hidden" name="id" value="<%= @comment["id"] %>">
			<input type="hidden" name="post" value="<%= @comment["post"] %>">
			<textarea cols="50" rows="5" name="content"><%= @comment["content"] %></textarea>
			<br>
			<br>
			<input type="submit" class="sub" value="+"/>
			</form>
		</div>
	</div>






	</div>


	<% else %>

<div class="prof">
	<div class="error">
		You must be logged in as <% if @username['id'] == @comment['user_id'] %><%= @username['name'] %><% end %> to edit this comment.
	</div>
</div>

	<% end %>

</div>

