<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/normalise.css>"
	<link rel="stylesheet" href="../stylesheets/stylesheet.css">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Coda&effect=anaglyph">
	<script src="../scripts/jquery.js"></script>
</head>
<body>

<div id="wrapper">
	<div class="header">
		<a href="/"><h1 class="font-effect-anaglyph" id="head">newFutures</h1></a>
	</div>
			<ul class="nav">
			<li class="before"><br><br><a href="/profiles/<%= @user %>">profile</a></li>
			<li class="before"><br><br><a href="/editprofile/<%= @user %>">edit profile</a></li>
			<li class="before"><br><br><a href="/userposts/<%= @user %>">posts</a></li>
			<li class="before"><br><br><a href="/usercomments/<%= @user %>">comments</a></li>
		</ul>
		<button id="topnavbutton">nav</button>

		<%= yield %>




	<div class="content"></div>
	<div class="credits">
		<br>
		copyright @ 2015 jake whatever
	</div>

		
</div>
<script>
// toggles navigation / webkit animations
	$(function() {
    $("#topnavbutton").click(function() {
        $(".before").toggleClass("rolls");
    });
});
</script>	
</body>
</html>