<%= erb :sidebar %>

<div class="main">

		<div class="topicname">
			<div class="proflink">
				<h2 class="subject">
					<a href="/posts/<%= @post['id'] %>"><%= @post['subject'] %></a>
					</h2>
				<hr>

			<% if @user == @post['user_id'] %>
				<div class="edit">
					<form action="/deletepost/<%= @post['id'] %>" method="POST"><input type="submit" class="delete" name="delete" value="x">
					&nbsp;&mdash; <a href="/editpost/<%= @post['id'] %>">&nbsp;o&nbsp;</a>
					</form>
				</div>

			<% end %>

			<div class="proflink">
			<div class="op">
				<a href="/profiles/<%= @post['user_id'] %>">
				<img class="userpic" src="<%= @post['image'] %>">
				<%= @post['name'] %></a>
			</div>
			</div>
			</div>
			<div class="opcomment">
				<%= markdown(@post['content']) %>
			</div>
		</div>
		<br>

		<% @comments.each do |comment| %>
		<div class="topicname">
			<% if @user == comment['user_id'] %>
				<div class="edit">
					<form action="/deletecomment/<%= comment['id'] %>" method="POST"><input type="submit" class="delete" name="delete" value="x">
					&nbsp;&mdash; <a class="edit" href="/editcomment/<%= comment['id'] %>">&nbsp;o&nbsp;</a>
					</form>
				</div>

			<% end %>
				<div class="permalink">
					<span class="location"><%= comment['location'] %> |
					<a href="/comments/<%= comment['id'] %>">link</a> | <a href="/posts/<%= comment['post'] %>">post</a></span>
				</div>
				
				<div class="proflink">
					<% if comment['user_id'] == @post['user_id'] %>
					<div class="op">
					<% end %>
					<a href="/profiles/<%= comment['user_id'] %>">
					<img class="userpic" src="<%= comment['image'] %>">
					<%= comment['name'] %></a>
					<% if comment['user_id'] == @post['user_id'] %>
						</div>
					<% end %>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<div class="comment"><%= markdown(comment['content']) %></div>
				</div>
			</div>
			<br>
		<% end %>

	<div class="add">+</div>
	<div class="forms">
	    <form action="/comments" id="info" method="POST">
	    <input type="hidden" name="post" value="<%= @post["id"] %>">
	    <input type="hidden" name="ip" value="<%= @ip %>">
	    <input type="hidden" name="by" value="<%= current_user %>">
	    <textarea rows="6" cols="45" class="input" name="message" placeholder="comment here"></textarea>
	    <br><br>
	    <input type="submit" class="sub" name="sub" value="- + -"/>
	</div>
</div>


<script>
	$(function() {
    $(".add").click(function() {
        $(".forms").toggleClass("forms-change");
    });
});
</script>