<%= erb :sidebar %>

<div class="main">

		<% @posts.each do |post| %>
		<div class="popularity">
			<%= post['popularity'] %><br>
			<form action="/popularity" method="POST">
			<input type="hidden" name="id" value="<%= @id %>">
			<input type="hidden" name="postid" value="<%= post['id'] %>">
			<input class="upvote" type="submit" value="⇧">
			</form>

			</div>

			<div class="topics">
			<div class="topicname">
				<a class="toptitles" href="/posts/<%= post['id'] %>"><%= post['subject'] %></a><br><br>
				<span class="desc"><%= post['content'] %></span>
			</div>
			</div>
			<br>
			<hr>

		<% end %>

	<div class="add">+</div>
	<div class="forms">
	    <form action="/posts" method="POST">
	    <input type="hidden" name="topic" value="<%= @id %>">
	    <input type="hidden" name="ip" value="<%= @ip %>">
	    <input type="hidden" name="by" value="<%= current_user %>">
	    <input type="text" id="subject" name="subject" placeholder="subject name" />
	    <br><br>
	    <textarea rows="6" cols="45" class="input" name="content">post content</textarea>
	    <br><br>
	    <input type="submit" class="sub" name="sub" value="- + -"/>
	</div>
</div>


<script>
	$(function() {
    $(".add").click(function() {
        $(".forms").toggleClass("forms-change");
    });
});
</script>

</div>