<%= erb :sidebar %>

<div class="main">

		<div class="username" id="userpost">
			<h1><a href="/profiles/<%= @username['id'] %>"><%= @username['name'] %>'s</a> post history: </h1>
		</div>
		<% @posts.each do |post| %>
		<div class="popularity">
			<%= post['popularity'] %><br>
			<form action="/popularity" method="POST">
			<input type="hidden" name="id" value="<%= @id %>">
			<input type="hidden" name="postid" value="<%= post['id'] %>">
			<input class="upvote" type="submit" value="⇧">
			</form>

			</div>
			<div class="topics">
			<% if @user == post['user_id'] %>
					<form action="/deletepost/<%= post['id'] %>" method="POST">
					<input type="submit" class="delete" name="delete" value="x">
					</form>
			<% end %>
				<div class="topicname">
					<a class="toptitles" href="/posts/<%= post['id'] %>"><%= post['subject'] %></a>
					<br>
					<br>
					<span class="desc"><%= post['content'] %></span>
				</div>
				<div class="count">
					<%count = $db.exec_params("SELECT count(*) FROM comments WHERE comments.post = $1", [post['id']]).first%>
					<a class="sort" href="/topicsbycomments/<%= post['topic'] %>"><%= count['count'] %> comments</a>
				</div>
			</div>
			<br>
			<hr>


		<% end %>